.fa-instagram {
    font-size: 22px;
}

.instagram-name {
    font-family: 'Kollektif Regular';
    text-transform: uppercase;
    font-size: 20px;
    padding: 0px 10px;
}

.instagram-link {
    color: #4D4D4D;
}

.instagram-link:hover {
    color: #4D4D4D;
    opacity: 70%;
    text-decoration: none;
}