#logo {
    margin-left: 50px ;
    width: 220px;
}

nav a, .dropdown-toggle, .dropdown-toggle:focus, .dropdown-item {
    font-family: 'Cinzel', sans-serif;
    display: inline-block;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 0 !important;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 18px !important;
    border: none;
    box-shadow: none !important;
}

.nav-menu-item{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}