.btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px;
}

.btn:hover {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
    ;
}

.buttonArea {
    margin: 10px;
}

.input {
    border-radius: 3px;
}

label {
    margin-top: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cinzel', serif;
}

a p, a:hover {
    color: var(--text-color);
}

.icon, #instagram-icon {
    color: var(--accent-color);
    font-size: 40px;
}

a icon:hover, #instagram-icon:hover {
    color: var(--accent-color-hover);
    font-size: 40px;
}

@media (min-width: 768px) {
    .separator {
        display: none;
    }
}

