#logo {
    width: 250px;
    /* opacity: 100%; */
}

#navbar {
    padding: 4vh 10vw 4vh 6vw;
}

#homeLink {
    float: left;
}

#menu {
    float: right;
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    #homeLink, #menu {
        float: none
    }
    #menu {
        display: none;
    }
}

.bg1 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg1.jpg");
    background-position: center 60%;
}

.bg2 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg2.jpg");
    background-position: 17% top;
}

.bg3 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg3.jpg");
    background-position: 40% top;
}

.bg4 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg4.jpg");
    background-position: 40% top;
}

.bg5 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg5.jpg");
    background-position: 30% 15%;
}

.bg6 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg6.jpg");
    background-position: 20% 30%;
}

.bg7 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg7.jpg");
    background-position: 25% center;
}

.bg8 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg8.jpg");
    background-position: 60% 30%;
}

.bg9 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg9.jpg");
    background-position: 40% 30%;
}

.bg10 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg10.jpg");
    background-position: 40% center;
}

.bg11 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg11.jpg");
    background-position: 70% 30%;
}

.bg12 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg12.jpg");
    background-position: 25% 30%;
}


.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vh;
    align-items: center;
    text-align: center;
}

.dropdown {
    display: inline-block;
}

nav a, .dropdown-toggle, .dropdown-toggle:focus, .dropdown-item {
    font-family: 'Cinzel', sans-serif;
    display: inline-block;
    margin: 0 10px !important;
    padding: 0 !important;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 16px !important;
    border: none;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, .15);
}

.secondary-nav .dropdown-menu {
    background-color: var(--navbar-color);
    margin-top: 0.75rem;
}

.dropdown-item:hover, .dropdown-toggle:hover {
    color: rgb(202, 202, 202)
}

nav a:hover {
    /* opacity: 50%; */
    color: rgb(202, 202, 202);
    text-decoration: none;
}

#navbar-fixed {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    background: #8da3b2;
    opacity: 0.95;
    z-index: 10;
    /* font-family: 'Lato'; */
    /* height: 45px; */
}

#navbar-fixed nav {
    margin: 10px;
}

#navbar-fixed-mobile {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    background: #8da3b2;
    color: white;
    /* opacity: 0.95; */
    z-index: 10;
    /* font-family: 'Lato'; */
    /* height: 45px; */
}

.hamburger-menu {
    font-size: 1.5rem;
    text-align: right;
    padding: 4px 20px;
}

.menu-item {
    width: 100%;
}