#logo {
    width: 250px;
    /* opacity: 100%; */
}

#navbar {
    padding: 4vh 10vw 4vh 6vw;
}

#homeLink {
    float: left;
}

#menu {
    float: right;
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    #homeLink, #menu {
        float: none
    }
    #menu {
        display: none;
    }
}

.bg1 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg1.jpg");
    background-position: center 60%;
}

.bg2 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg2.jpg");
    background-position: 17% top;
}

.bg3 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg3.jpg");
    background-position: 40% top;
}

.bg4 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg4.jpg");
    background-position: 40% top;
}

.bg5 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg5.jpg");
    background-position: 30% 15%;
}

.bg6 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg6.jpg");
    background-position: 20% 30%;
}

.bg7 {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url("../../assets/images/bg7.jpg");
    background-position: 25% center;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vh;
    align-items: center;
    text-align: center;
}

nav a {
    font-family: 'Kollektif Regular', 'Poppins', sans-serif;
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    /* opacity: 50%; */
    color: rgb(202, 202, 202);
    text-decoration: none;
}

#navbar-fixed {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    background: #8da3b2;
    opacity: 0.95;
    z-index: 10;
    font-family: 'Lato';
    height: 45px;
}

#navbar-fixed nav {
    margin: 10px;
}